*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#03a9f4,#03a9f4 45%,#fff 45%,#fff 100%);
}
.navigation {
    position: relative;
    top: -200px;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    text-transform: capitalize;
}

.navigation ul li {
    margin-left: -15px;
    position: relative;
    list-style: none;
    width: 70px;
    height: 60px;
    z-index: 2;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 65px;
    font-size: 1.5em;
    transition: 0.5s;
    color: #222327;
    transition: 0.5s;
}
.navigation ul li a .icon:hover ~ .indicator{
    background: black;
}

.navigation ul li.active a .icon {
    transform: translateY(-30px);
    color: #2196f3;
}

.navigation ul li a .text {
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(15px);
    background: #2196f3;
    padding: 2px 7px;
    border-radius: 12px;
}

.navigation ul li.active a .text {
    transform: translateY(-4px);
    opacity: 1;
}

.indicator {
    position: absolute;
    top: -35px;
    
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    transition: 0.5s;
}

.indicator::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 15px 18px #fff
}

.indicator::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -28px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -15px 18px #fff
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(10px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(40px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(45px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(50px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(50px * 4));
    transition: 0.5s;
}
.navigation ul li:nth-child(6).active ~ .indicator {
    transform: translateX(calc(64px * 4));
}
.navigation ul li:nth-child(7).active ~ .indicator {
    transform: translateX(calc(78px * 4));
}
.navigation ul li:nth-child(8).active ~ .indicator {
    transform: translateX(calc(92px * 4));
}
/* ////////////////////////////////Dark mode/////////////////////////////////// */
.them{
    position: absolute;
    top: 5px;
   right: 15px;
    display: flex;
    /* background: red; */
    margin: auto;
}
label{
    position: absolute;
    width: 50px;
    height: 25px;
    right: 20px;
    top: 20px;
    border: 2px solid;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}
label:before{
    position: absolute;
    content: '';
    width:20px;
    height: 20px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    align-items: center;
    transition: 0.4s;
}
label.active:before{
    left: 24px;
    background: #fff;
}
body.night{
    background: #000;
    color: #fff;
}
.fa-moon{
    color: #fff;
}


/* /////////////////////////////contact////////////////////// */
.them1{
    position: absolute;
    top: 5px;
    left: 200px;
    display: flex;
    /* background: red; */
    margin: auto;
}
.label1{
    position: absolute;
    width: 50px;
    height: 25px;
    right: 20px;
    top: 20px;
    border: 2px solid;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}
.label1:before{
    position: absolute;
    content: '';
    width:20px;
    height: 20px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    align-items: center;
    transition: 0.4s;
}
label1.active:before{
    left: 24px;
    background: #fff;
}
body.night{
    background: #000;
    color: #fff;
}
.fa-moon{
    color: #fff;
}
/* ///////////////////////dark mode end////////////// */
.card{
    margin: auto;
    position: relative;
    padding: 1%;
    width: 400px;
    height: 400px;
    color: #fff;
    border-radius: 10px;
    /* background: red; */
    background: rgba(255,255,255,0.1);
    border-top: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    left: -50%;
    top: 100px;
}
.card .img1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    transform: translateY(30px) scale(0.5);
    transform-origin: top;
}
.card .img1 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.content{
    color: #11101d;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
}
.content .name_Work h2{
    color: #444;
    margin-bottom: 10px;
}
.content .name_Work span{
    color: #03a9f4;
    font-size: 20px;
    margin: 20%;
}
.content .name_Work .info{
    position: relative;
    display: flex;
    margin-top: 20px;
}
.content .name_Work .info li{
    list-style: none;
    margin: auto;
    font-size: 22px;
}
.content .name_Work .info li a{
    text-decoration: none;
    border-radius: 50%;
    background: transparent;
    width:45px;
    height:45px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #444;
    font-size: 1.5rem;
    box-shadow: 0 7px 15px rgba(189, 166, 166, 0.1);
    border-top: 1px solid rgba(0,0,0,0.5);
    transition: 0.5s;
}
.name_Work .info li a:hover{
    background: #03a9f4;
    color: #fff;
}
/* //////////////////whatsapp////////////// */
.content .whatsapp h2{
    color: #444;
    position: absolute;
    top: 55%;
    left: 25%;
}
.content .whatsapp h2{
    position:relative ;
    left: 0px;
    top: -25px;
    
    justify-content: center;
}
.content .whatsapp span{
    color: #03a9f4;
    font-size: 25px;
    position: relative;
    top: -20px;
    left: 0px;
}
.content .whatsapp .whatapp_icon{
    margin: auto;
    position:relative ;
    left: 50px;
    top: 0;
}
.content .whatsapp .whatapp_icon img{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    
}
